body{
	background-color: #fff;
}

#top{
	position: relative;
	background: url("../pic/first_pic.jpg") no-repeat 50% 20%;
	padding-top:  10em;
	padding-bottom: 10em;
}
#top .card{
	margin: 0px auto !important;
	width: 400px;
	
	@media #{$small-and-down} {
		width: 300px;
	}
	
}
