body{
	background: rgba(255,255,240,1);
}

#top_word{
	background-color: rgba(0,0,0,0.65);
	color: white;
	margin-top: 15em !important;
	margin-bottom: 11em !important;
	margin: 0px auto;
	width: 400px;

	@media #{$small-and-down} {
		width: 300px;
		margin-top: 12em !important;
		margin-bottom: 10em !important;
	}
	@media #{$medium-and-down} {
		margin-bottom: 12em !important;
	}
	
	h1,p,a{
		text-align: center;
	}

	h1{
		font-size: 3.5em;
    	font-family: Berlin Sans FB;
    	margin-top: 0;
	}
	p{
		font-size: 1.5em;
	}
}

#top_pic {
	position: fixed;
	margin-top: 0px;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	
	clip: rect(0px, 2000px, 650px, 0px);

    @media #{$small-and-down}
    {
 		width:1020px;
    	//height: 600px;
    }

}

#top_btn{
	position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -75px;
	height: 50px;
    width: 150px;
    font-size: 150%;
    color: white;
    line-height: 50px;
    border: solid 2px rgba(255, 255, 255, 0.6);

    transition: border 0.5s,color 0.5s, background-color 0.5s;

	&:hover{
		border: solid 2px rgba(70, 70, 70, 0.6);
		color: rgba(50, 50, 50, 1);
		background-color: rgba(255, 255, 255, 0.6);
	}
}

#about_us{
	margin-top: 30px;

	.card{
		//border: 2px solid transparent;

		img{
			width: 300px;
		}
		p{	font-size: 200%;}
	}
}

#member{

}