html,
body,
div,
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: #873;
}

a:visited {
    color: #645;
}

ul {
    list-style: none;
}

#headbar {
    position: relative;
    font-size: 25px;
    font-weight: 900;
    background-color: #dcc;
    padding: 10px;
    text-align: center;
}

#headbar *:not(br) {
    display: inline-block;
}

#logo {
    font-size: 28px;
    padding: 5px;
    font-weight: 700;
}

#logo * {
    vertical-align: middle;
}

#logo > a > img {
    width: 300px;
    height: 100px;
}

#navbar {
    position: relative;
}

#navbar li a {
    padding: 10px 20px;
    -webkit-border-radius: 10px 20px;
    border-radius: 10px 20px;
    -webkit-transition: background-color linear 0.3s;
    -o-transition: background-color linear 0.3s;
    transition: background-color linear 0.3s;
}

#navbar li a:hover,
li.currPlace a {
    background-color: #dde;
}

#main {
    min-height: 200px;
    position: relative;
    left: 0px;
    right: 0px;
    margin: 10 auto;
    padding: 10px 0px;
}

#footer {
    padding: 5px;
    text-align: center;
}

#footer > div {
    display: inline-block;
    width: 45%;
}

#footer > div:first-child { text-align: left; }
#footer > div:last-child { text-align: right; }
#footer > div:last-child * { vertical-align: middle; }

#footer > div:last-child img {
    height: 60px;
    width: 60px;
}

@media all and (min-width: 630px) {

    #headbar .padding {width: 15%;}
    br.show {display: inline-block;}
    br.hide {display: none;}
    #main {width: 870px;}
}

@media all and (max-width: 630px) {
    #navbar li a {
        font-size: 20px;
        padding: 10px 10px;
    }

    #headbar .padding {width: 0px;}
    br.hide {display: inline-block;}
    br.show {display: none;}
    #main {width: 100%;}
    #footer > div {width: auto;}

}

